# Blacklist all
/**

# Whitelist allowed
!/.gitignore
!/Dockerfile
!/LICENSE
!/README.md
!/requirements.txt

!/.github/
!/.github/workflows/
!/.github/workflows/build-multi-arch-docker.yml

!/delic/
!/delic/__init__.py
!/delic/__main__.py
!/delic/app.py
!/delic/cli.py
!/delic/config.py
!/delic/link_checker.py